
@{
    ViewData["Title"] = "Index";
}


<div class="container px-0 px-sm-3">
    <div class="row">
        <div class="col-12">
            <h1>Панель администратора</h1>
        </div>
        <div class="col-12">
            <h2>Фильмы</h2>

            <table id="film-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12">
            <h2>Сеансы</h2>

            <table id="session-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12">
            <h2>Новости</h2>

            <table id="news-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12">
            <h2>Пользователи</h2>

            <table id="user-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12 col-md-6">
            <h2>Режиссеры</h2>

            <table id="director-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12 col-md-6">
            <h2>Страны</h2>

            <table id="country-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12 col-md-6">
            <h2>Вопросы и ответы</h2>

            <table id="qa-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12 col-md-6">
            <h2>Темы запросов</h2>

            <table id="subject-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12 col-md-6">
            <h2>Залы</h2>

            <table id="hall-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>

        <div class="col-12 col-md-6">
            <h2>Возрастные ограничения</h2>

            <table id="agelimit-table" class="table table-hover bg-dark-blue" data-sorting="true" data-paging="true"></table>
        </div>
    </div>
</div>



