@{
    ViewData["Title"] = "Контактная информация";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <h1 class="col-12">@ViewData["Title"]</h1>
        <div class="col-12 col-md-4 col-lg-4">
            <address>
                @*<strong>Димон:</strong><p class="mb-0">Да там почти нет отличий. За час перенесу. &copy;</p><br />
                    <strong>Леха:</strong><p class="mb-0">Кроссплатформенность &hearts; </p><br />
                    <strong>Саня:</strong><p class="mb-0">На выходных обязательно возьмусь за React. &copy;</p>*@
                <strong>Адрес:</strong><p></p>
                <strong>Режим работы:</strong><p>ежедневно с 9:00 до 23:00</p>
                <strong>Контактный телефон: </strong><p><a class="text-orange" href="tel:+X (XXX) XXX-XXXX">+X (XXX) XXX-XX-XX</a></p>
                <strong>E-mail:</strong><p><a class="text-orange" href="mailto:example@example.example">example@example.example</a></p>
                <strong>Мы в соц. сетях: </strong>
                <p class="socials">
                    <a class="h4 mr-2" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="h4 mr-2" href="#" target="_blank">
                        <i class="fa fa-vk"></i>
                    </a>
                </p>
                <strong>Обратная связь</strong><p><a class="text-orange" asp-route="support">Напишите нам</a></p>
            </address>
        </div>
    </div>
</div>

<div class="row">
    <div class="h_iframe" style="height:600px;">
        <iframe src="https://yandex.ru/map-widget/v1/-/CBUcUCeAsD" frameborder="0"></iframe>
    </div>
</div>


@*<h3>@ViewData["Message"]</h3>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@