@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>
@*<h3>@ViewData["Message"]</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <address>
                <strong>Димон:</strong><p class="mb-0">Да там почти нет отличий. За час перенесу. &copy;</p><br />
                <strong>Леха:</strong><p class="mb-0">Кроссплатформенность &hearts; </p><br />
                <strong>Саня:</strong><p class="mb-0">На выходных обязательно возьмусь за React. &copy;</p>
            </address>
        </div>

        <div class="col-12 col-md-8 col-lg-12 h_iframe" style="height:400px;">
            <iframe src="https://yandex.ru/map-widget/v1/-/CBUcUCeAsD" frameborder="0"></iframe>
        </div>
    </div>