
@{
    ViewData["Title"] = "CreateOrder";
}

<h2>Заказ оформлен</h2>

<h2>Поздравляем!</h2>

<p>Вы, совершенно случайно, оказались счастливым покупателем, поэтому пропустим страницу оплаты и заказ за наш счет! </p>
<p>Ваш номер заказа @ViewData["ValidationKey"].ToString() , предъявите его в кассе и получите билет.</p>
<p>Приходите еще!</p>