@{
    List<Film> films = ViewData["Featured"] as List<Film>;
}
<div class="row">
    <div class="swiper-container swiper-container-featured">

        <div class="swiper-wrapper">
            @foreach (var film in films)
            {
            <div class="swiper-slide col-12 col-sm-4 col-md-4">
                <a asp-area="" asp-controller="Home" asp-action="Film" asp-route-id="@film.LINK">
                    <img class="img-fluid" style="width:inherit" src="@Url.Content("~/images/Posters/" + film.Poster)" />
                </a>
            </div>
            }
        </div>

        <div class="swiper-pagination swiper-pagination-featured"></div>

    </div>
</div>