@model News
@using System.Globalization

@{
    ViewData["Title"] = "News";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <h1 class="col-12">@Model.Name</h1>
        <img class="col-12 img-fluid h-100 news-image-preview" src="@Url.Content("~/images/News/Preview/" + Model.ImagePreview)" />
        <p class="col-12 text-orange">@Model.PublishDate.ToString("dd.MM.yyyy HH:mm"), @(new CultureInfo("ru-RU").DateTimeFormat.GetDayName(Model.PublishDate.DayOfWeek))</p>
        <div class="col-12">
            @{
                HtmlString text = new HtmlString(Model.Content);
            }
            @text
        </div>
    </div>
</div>
