
@{
    ViewData["Title"] = "Политика обработки персональных данных";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <div class="col-12">
            <h1>Политика обработки персональных данных</h1>
            <h2>Раздел</h2>
            <p>текст</p>
        </div>
    </div>
</div>

