
@{
    ViewData["Title"] = "Условия приобретения электронных билетов в кино";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <h1 class="col-12">Условия приобретения электронных билетов в кино</h1>
        <div class="col-12">
            <p>Данный текст предсталвяет собой образец</p>
            <p>Настоящие правила регулируют условия покупки Билетов Покупателем у кинотеатра</p>
            <h2>1. Термины и определения</h2>
            <p>«Авторизация» - процедура получения разрешения «Банка-эмитента» на совершение Операции. Каждая «Авторизация» содержит информацию о денежном номинале совершаемой Операции.</p>
            <p>«Банк-эмитент» - кредитная организация, осуществляющая эмиссию «Банковской карты» и ведение счета «Покупателя».</p>
            <p>«Банковская карта» - инструмент для совершения ее держателем Операций с денежными средствами, находящимися у банка, выпустившего карту, в соответствии с законодательством РФ и договором с Банком-эмитентом.</p>
            <p>«Билет на кинопоказ» - документ, выполненный на бланке строгой отчетности, предоставляющий право «Покупателю» на определенное посадочное место на конкретный «Кинопоказ», демонстрируемый кинотеатре.</p>
            <p>«Код авторизации» - буквенно-цифровой код, получаемый в результате «Авторизации».</p>
            <p>«Кинокассы» - кассы сети кинотеатров «Киномакс», в которых «Покупатель» может фактически получить «Билет на кинопоказ».</p>
            <p>«Кинопоказ» - публичное исполнение (показ) за установленную плату аудиовизуального произведения (кинофильма) в кинотеатре в соответствии с репертуарным планом.</p>
            <p>«Операция» - оплата приобретаемых «Билетов на кинопоказ» посредством «Банковской карты».</p>
            <p>«Платежные системы» - совокупность финансовых институтов, объединенных между собой на договорной основе, а также включающие в себя программные, аппаратные и технические средства, обеспечивающие информационное и технологическое взаимодействие, необходимое для осуществления расчетов между «Покупателями» и кинотеатром.</p>
            <p>«Покупатели» - физические лица, обладающие полной право- и дееспособностью; юридические лица, осуществляющие покупку «Билетов на кинопоказ» через Сайт или Мобильное приложение и использующие для расчетов Банковские карты международных «Платежных систем».</p>
            <p>«Расчетный банк» - банк-эквайер, выбранный кинотеатром для осуществления расчетов по Операциям с «Банковскими картами» и имеющий соответствующие полномочия от «Платежных систем» и производящий перевод денежных средств в пользу кинотеатра на основании имеющейся платежной информации.</p>
            <h2>2. Порядок оплаты услуг</h2>
            <p>2.1. Для выполнения Операции по оплате Билетов кинотеатра через Сайт или Мобильное приложение, и использования для расчетов Банковских карт международных Платежных систем Покупателю необходимо следовать Инструкции по покупке билетов. После выполнения действий, указанных в Инструкции по покупке билетов, Покупатель автоматически соглашается с условиями настоящего Договора.</p>
            <p>2.2. Ограничения:Воспользоваться услугой оплаты Билетов кинотеатра через Сайт или Мобильное приложение могут только владельцы карт, эмитированных банками, для следующих Платежных систем: MasterCard, VISA, Мир. В случае если Покупатель не обратился в Кинокассу кинотеатра и не получил оплаченный Билет на кинопоказ, услуга по киновидеообслуживанию считается оказанной, а денежные средства не возвращаются.</p>
            <h2>3. Права и обязанности сторон</h2>
            <p>3.1. Покупатель имеет право:</p>
            <p>3.2. Покупатель обязан соблюдать Правил киновидеобслуживания граждан в кинотеатре.</p>
            <p>3.3. Кинотеатр имеет право:</p>
            <p>3.4. Кинотеатр обязан:</p>
            <h2>4. Изменение настоящего Регламента</h2>
            <p>4.1. Кинотеатр вправе вносить любые изменения и дополнения в настоящий Регламент. Все изменения и дополнения к настоящему Регламенту публикуются на интернет-сайте кинотеатра.</p>
        </div>
    </div>
</div>
