@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Смена пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <h2 class="col-12">Смена пароля</h2>
    <hr class="w-100 d-none d-md-block ml-3 col-lg-9" />
    <div class="col-12 col-sm-9 col-lg-5">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="text-info" asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-info" asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-info" asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn border-orange">Обновить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
