@model SetPasswordViewModel
@{
    ViewData["Title"] = "Настройка пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="row">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <h2 class="col-12">Настройка пароля</h2>
    <hr class="w-100 d-none d-sm-none d-md-block ml-3 col-lg-9" />
    <p class="text-info">
        У Вас нет локальной учетной записи. Создайте ее для обеспечения возможности войти на сайт без использования внешней учетной записи.
    </p>
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="text-info" asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-info" asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn border-orange w-100">Изменить</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
