@{
    ViewData["Title"] = "Подтверждение почты.";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <div>
                <p>
                    Спасибо за подтверждение Вашей почты.
                </p>
            </div>
        </div>
    </div>
</div>