@{
    ViewData["Title"] = "Аккаунт заблокирован";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Данный аккаунт заблокирован. Пожалуйста, попробуйте познее. Если ваш аккаунт был заблокирован случайно, что ж, бывает.</p>
</header>
