@{
    ViewData["Title"] = "Потверждение изменения пароля";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <p>
                Ваш пароль был успешно изменен. Для входа в систему <a class="text-orange" asp-action="Login">нажмите сюда</a>.
            </p>
        </div>
    </div>
</div>


