@{
    ViewData["Title"] = "Потверждение изменения пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль был успешно изменен. Для входа в систему <a class="text-orange" asp-action="Login">нажмите сюда</a>.
</p>
