@{
    ViewData["Title"] = "Signed out";
}

<div class="container px-0 px-sm-3">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <p>
                You have successfully signed out.
            </p>
        </div>
    </div>
</div>

