<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KINOv2</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fonts/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/rich-text-editor/css/richtext.min.css" />
        <link rel="stylesheet" href="~/lib/star-rating/css/jquery.rating.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/dist/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/swiper/dist/css/swiper.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fonts/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/rich-text-editor/css/richtext.min.css" />
        <link rel="stylesheet" href="~/lib/star-rating/css/jquery.rating.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/dist/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/swiper/dist/css/swiper.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter48798209 = new Ya.Metrika({
                        id: 48798209,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48798209" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <div class="up-button-mobile up-button-hidden" onclick="onUpButtonClick()"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
    <div class="up-button up-button-hidden" onclick="onUpButtonClick()"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mr">
                    <li class="nav-item mr-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" asp-area="" asp-controller="home" asp-action="affiche">Афиша</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                </ul>
                @await Html.PartialAsync("LoginPartial")
            </div>
        </div>
    </nav>

    <main class="container-fluid content">
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="container mt-3 mt-md-5 px-sm-3">
        <hr style="border-top: 1px solid #ffffff" />
        <div class="row mt-3 mt-md-5 mb-3">
            <div class=" col-sm-6 col-lg-3">
                <span class="mb-3">Остались вопросы?</span>
                <ul>
                    <li class="my-2"><a asp-route="help">Помощь</a></li>
                    <li class="my-2"><a asp-route="support">Служба поддержки</a></li>
                    <li class="my-2"><a asp-route="terms">Правила покупки</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <span class="mb-2">Навигация</span>
                <ul class="">
                    <li class="my-2"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li class="my-2"><a asp-area="" asp-controller="Home" asp-action="Affiche">Афиша</a></li>
                    <li class="my-2"><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <span class="mb-3">Обратная связь</span>
                <ul class="contacts">
                    <li class="my-2">
                        <a href="tel:+X (XXX) XXX-XXXX">+X (XXX) XXX-XX-XX</a>
                    </li>
                    <li>
                        <a href="mailto:example@example.example">example@example.example</a>
                    </li>
                    <li class="my-2">
                        <a class="h4 mr-2" href="#" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="h4 mr-2" href="#" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>
            </div>

        </div>
        
        <div class="row">
            <p class="mb-sm-4 col-12 col-sm-8 about">&copy; @DateTime.Now.Year – Кинотеатр Вальхалла</p>
            <span class="col-12 col-sm-4 text-sm-right policy mb-2 mb-sm-0"><a asp-route="policy">Политика обработки данных</a></span>
        </div>
    </footer>

    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
        <script src="~/lib/moment-timezone/moment-timezone.js"></script>
        <script src="~/lib/tempusdominus-bootstrap-4/dist/js/tempusdominus-bootstrap-4.js"></script>
        <script src="~/lib/footable/js/footable.js"></script>
        <script src="~/lib/swiper/dist/js/swiper.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
        <script src="~/lib/rich-text-editor/js/jquery.richtext.js"></script>
        <script src="~/lib/star-rating/js/jquery.rating.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/slideshow.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
        <script src="~/lib/moment-timezone/moment-timezone.js"></script>
        <script src="~/lib/tempusdominus-bootstrap-4/dist/js/tempusdominus-bootstrap-4.js"></script>
        <script src="~/lib/footable/js/footable.js"></script>
        <script src="~/lib/swiper/dist/js/swiper.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
        <script src="~/lib/rich-text-editor/js/jquery.richtext.js"></script>
        <script src="~/lib/star-rating/js/jquery.rating.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/slideshow.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
