.swiper-container-main {
    width:100%;
    max-height: 600px;

    .img-fluid {
        object-position: top;
    }

    h2 {
        position: absolute;
        color: white;
    }

    .swiper-slide-main {

        a {
            &:hover {
                text-decoration: none;
                color: inherit;
            }

            .shade {
                background: linear-gradient(transparent 65%, black );
                position: absolute;
                top: 0;
            }
        }
    }

    .swiper-main-btn-next {
        height: 100%;
        margin: unset;
        top: 0;
        width: 100px;
        right: 0;
        background: unset;
        transition: background .2s linear;
        font-size: 60px;

        &:hover {
            background-color: rgba($color: #000000, $alpha: .2); 
        }
        &:focus {
            outline: none;
        }

    }

    .swiper-main-btn-prev {
        @extend .swiper-main-btn-next;
        right: unset;
        left: 0;
    }
}

.main-affiche {
    .affiche-film {
        border-radius: 5px;
        color: white;

        a {
            text-decoration: unset;
            color: inherit;
            &:hover {
                color: inherit;
            }
        }

        &:hover {
            background: rgba($color: #000000, $alpha: .2);
        }
    }
}

.news-image-preview {
    object-fit: contain;
    object-position: top;
}

.news {

    &:hover {
        .news-image {
            transform: scale(1.02);
        }

        .shade {
            background: rgba($color: #000000, $alpha: .4) !important;
            background-clip: content-box !important;
        }

        .description {
            display: flex !important;
        }
    }

    .news-image-wrap {
        overflow: hidden;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        .news-image{
            position:relative;
            overflow:hidden;
            width: 100%;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            transition: transform .2s linear;
        }

        .shade {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background: transparent;
            background-clip: content-box;
            transition: background .2s linear;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        .description {
            font-size: 16px;
            color: white;
            position: absolute;
            z-index: 2;
            display: none;
            top:0;
        }

    
    }

    .news-header {
        background: rgba($color: #000000, $alpha: .4);
        color: #f6a21c;
        height: 60px;
        text-decoration: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    .label {
        width: 75px;
        height: 75px;
        position: absolute;
        right: 0;
        top: -5px;
        background: #f6a21c;
        color: white;
        z-index: 3;
        border-radius: 5px;
    }

}

.reset-decoration {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.accordion-btn {
    position: relative;
    text-decoration: none;

    &:focus {
        text-decoration: none !important;
    }

    &:before {
        position: absolute;
        left: -8px;
    }
    
    &[aria-expanded="false"]:before {
        content: '+';
    }

    &[aria-expanded="true"]:before {
        content: '-';
    }
}

.socials {
    a {
        &:hover {
            text-decoration: none;
            .fa-instagram {
                color: linear-gradient(#8a3ab9, #4c68d7, #cd486b,#bc2a8d, #fbad50, #fccc63);
                &:before {
                    background: linear-gradient(200deg, #8a3ab9, #4c68d7, #cd486b,#bc2a8d, #fbad50, #fccc63);//-webkit-gradient(linear, right top, left bottom, #8a3ab9 40%, #4c68d7 30%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }
            .fa-vk {
                color:  #4c75a3
            }
        }
    }
}

footer {

    .contacts {
        a:not([target="_blank"]) {
            &:hover {
                color: #f6a21c;
            }
        }

        a[target="_blank"] {
            &:hover {
                .fa-instagram {
                    color: linear-gradient(#8a3ab9, #4c68d7, #cd486b,#bc2a8d, #fbad50, #fccc63);
                    &:before {
                        background: linear-gradient(200deg, #8a3ab9, #4c68d7, #cd486b,#bc2a8d, #fbad50, #fccc63);//-webkit-gradient(linear, right top, left bottom, #8a3ab9 40%, #4c68d7 30%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            
                .fa-vk {
                    color:  #4c75a3;
                }
            }
        }
    }
}


@media(max-width: 575px){
    .main-affiche {

        h1 {
            font-size: 30px;
        }

        span.h2 {
            font-size: 24px;
        }

        .affiche-film {
            h2 {
                font-size: 18px;
            }

            p {
                font-size: 12px;
                position: relative;

                .age-label {
                    width: 28px;
                    height: 28px;
                    padding-top: 3px;
                    font-size: 11px;
                }
            }

            .film-sessions {
                .hall-name {
                    font-size: 14px;
                }

                .session-button {
                    font-size: 14px;
                    height: 1.7rem;
                }

                .sessions-empty {
                    font-size: 16px;
                }
            }
        }
    }

    .news-section {
        h2 {
            font-size: 30px;
        }
    }

    footer {
        .policy {
            font-size: 12px;
        }
    }
}

@media(min-width: 576px){
    .main-affiche {

        h1 {
            font-size: 34px;
        }

        span.h2 {
            font-size: 26px;
        }

        .affiche-film {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
                position: relative;

                .age-label {
                    width: 30px;
                    height: 30px;
                    padding-top: 5px;
                    font-size: 12px;
                }
            }

            .film-sessions {
                .hall-name {
                    font-size: 16px;
                }

                .session-button {
                    font-size: 14px;
                    height: 1.7rem;
                }

                .sessions-empty {
                    font-size: 18px;
                }
            }
        }
    }

    .news-section {
        h2 {
            font-size: 34px;
        }
    }
    
    footer {
        .policy {
            font-size: 12px;
        }
    }
}

@media(min-width: 768px){
    .swiper-container-main {
        h2 {
            bottom: 30px;
        }
    }

    .main-affiche {

        h1 {
            font-size: 40px;
        }

        span.h2 {
            font-size: 32px;
        }

        .affiche-film {
            h2 {
                font-size: 26px;
            }

            p {
                font-size: 16px;
                position: relative;

                .age-label {
                    width: 35px;
                    height: 35px;
                    padding-top: 7px;
                    font-size: 14px;
                }
            }

            .film-sessions {
                .hall-name {
                    font-size: 18px;
                }

                .session-button {
                    font-size: 16px;
                    height: 1.9rem;
                }

                .sessions-empty {
                    font-size: 24px;
                }
            }
        }
    }

    .news-section {
        h2 {
            font-size: 40px;
        }
    }
    
    footer {
        .policy {
            font-size: 14px;
        }
    }

}

@media(min-width: 992px){

    .swiper-container-main {
        h2 {
            bottom: 50px;
            font-size: 44px;
        }
    }

    .main-affiche {
        .affiche-film {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 18px;
                position: relative;
            }

            .film-sessions {
                .hall-name {
                    font-size: 20px;
                }

                .sessions-empty {
                    font-size: 26px;
                }
            }
        }
    }
}

@media(min-width: 1200px){

}