
@{
    ViewData["Title"] = "Не удалось оплатить";
}

<h2>Произошла ошибка при оплате</h2>


<p>Подробности можно увидеть в <a asp-controller="Manage" asp-action="History">личном кабинете</a></p>
<p>Приходите еще!</p>
<script>
    window.postMessage("fail", window.location)
</script>