@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    @*<div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                <div id="Result">
                    @RenderBody()
                </div>
            </div>
        </div>*@

    <div class="d-md-flex flex-md-row">
        <ul class="nav nav-tabs d-md-inline-flex align-self-md-start flex-md-column" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Profile</a>
            </li>
        </ul>
    </div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

